*.o
.libs
.deps
*.so
*.lo
*.la
*.s
module/Makefile.in
nominal*
physical.txt
vivado*
usage_statistics_webtalk.*
prazor-arm/aes
prazor-arm/output.txt
prazor-accel/output.txt
prazor-accel/aes
client/client
unix/aes
